## Lists and its various implementation

In [10]:
# Initializing list
lst=["zero",1,2,3,4,5,'six']
print('List: ',lst)

List:  ['zero', 1, 2, 3, 4, 5, 'six']

In [11]:
# nested list
my_list = ["cat", [1,2,3], ['a','b','c']]
my_list

['cat', [1, 2, 3], ['a', 'b', 'c']]

In [12]:
#Indexing in list
print('First item of list:',my_list[0])
print('Second item of list:',my_list[1])
print('Third item of list:',my_list[2])
print('Third item of list and second item of list inside it:',my_list[2][1])

First item of list: cat
Second item of list: [1, 2, 3]
Third item of list: ['a', 'b', 'c']
Third item of list and second item of list inside it: b

In [13]:
# length of list
length_of_list=len(my_list) # len() is a built-in function can be used with any iterable
print('Length of a list:',length_of_list)

Length of a list: 3

In [14]:
# Proper indexing
print(f'Element at index {(length_of_list)},{my_list[-length_of_list]}') # will print first element of list

Element at index 3,cat

In [15]:
print('Element at index %d:'%(length_of_list),my_list[length_of_list]) # Index out of range error because it is not a valid index

IndexError: list index out of range

In [16]:
strValues = "1,2,3,4,5"
myList = strValues.split(",")

In [23]:
m1 = map(int, myList)

In [24]:
myIntList = []
for val in myList:
  myIntList.append(int(val))

print(myIntList)

[1, 2, 3, 4, 5]

In [20]:
list(m1)

[1, 2, 3, 4, 5]

In [21]:
# Wilson wants to input his sales of the week in list
sales=map(int,input('Sales data(seperated by comma): ').split(','))
print('Map Object for above Sales of the week:',sales)

Sales data(seperated by comma): 12,45,23,56,25
Map Object for above Sales of the week: <map object at 0x7f7684320dc0>

In [25]:
# Map return an iterable, so wilson will have to convert it to a list
sales=list(sales)
print('Sales of the week:',sales)

Sales of the week: [12, 45, 23, 56, 25]

In [28]:
# To just print the sales of first 5 days
print('Sales of first 5 days:',sales[:5])

# Apparently wilson made a mistake in entering data
index=sales.index(45)
sales.remove(45)
sales.insert(index,500)
print('Sales after correction: {}'.format(sales))

Sales of first 5 days: [12, 45, 700, 56, 25]
Sales after correction: [12, 500, 700, 56, 25]

In [12]:
# He wants to sort the sales in ascending order
sales.sort()
print('Sorted sales in ascending order:',sales)
# To print in reverse order, :: means nothing for first argument and second argument. 
# :: works as-> [start:stop(exclusive):step]
# Third parameter is required number of steps to take
print('Sorted sales in descending order:',sales[::-1])

Sorted sales in ascending order: [5, 12, 23, 34, 700]
Sorted sales in descending order: [700, 34, 23, 12, 5]

In [29]:
# More about the ::
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print('Odd numbers:',numbers[::2])  # To print odd only
print('Even numbers:',numbers[1::2]) # To print even only

Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
# Now wilson wants to add data for second week to sales
second_week=[651,752,673,85,567,750]
sales.extend(second_week)
print('Sales in last two weeks:',sales)

# Well second_week does not have data for last day
last_day=int(input('Last day sales:'))
sales.append(last_day)
print('Sales in last two weeks(appended last day sales):',sales)

Sales in last two weeks: [12, 500, 700, 56, 25, 651, 752, 673, 85, 567, 750]
Last day sales:123
Sales in last two weeks(appended last day sales): [12, 500, 700, 56, 25, 651, 752, 673, 85, 567, 750, 123]

In [31]:
# Total sales
print('Total sales:',sum(sales))

# Maximum Sales
print('Maximum Sales:',max(sales))
# Minimum Sales
print('Minimum Sales:',min(sales))

Total sales: 4894
Maximum Sales: 752
Minimum Sales: 12

In [17]:
# He no more needs the second_week data seperately
del second_week
print(second_week)  # it will throw error as second week list deleted in previous step
#Note: del will unbind the name 'second_week' from the list object. It will not delete the data appended to Sales

NameError: ignored

In [33]:
# printing list the elegant way
print('Sales: ',end='') # 'end' argument appends a string after the last value, default is a newline.
print(*sales,sep='|')   # 'sep' argument inserts a string between multiple values

Sales: 12|500|700|56|25|651|752|673|85|567|750|123

In [50]:
tpl1 = (1,2,3,4,5,6)

In [51]:
print(*tpl1)

1 2 3 4 5 6

In [53]:
a,b,c,d,e,f = tpl1

In [54]:
tpl2 = 3,4,5,6,7

In [55]:
print(tpl2)

(3, 4, 5, 6, 7)

In [57]:
# pop() and remove()
list1=[10,20,30,40,50]
list1.pop() # It pops the last element and returns
list1.pop(2) # It pops the element at index 2 and returns
list1.remove(40) # it removes the value 40

In [58]:
list1

[10, 20]

In [59]:
list1.remove(60)    # It will remove the value/entry as 60 if present in list1

ValueError: list.remove(x): x not in list

In [61]:
# Extend vs Append in list

list1=[10,20,30,40]
list2=[50,60]
list3=[70,80]
list1.extend(list2) # It adds two elements at two separate index positions
list1
list1.append(list3) # It appends list3 as a single element.
list1

[10, 20, 30, 40, 50, 60, [70, 80]]

In [62]:
# sorted vs sort
list1=[30,10,50,40]
print(sorted(list1))  # It will sort list1 and print but originally the list will not be modified
print(list1)
list2=[5,40,2,30]
list2.sort()   # It actually sorts i.e. modifies the list
print(list2)

[10, 30, 40, 50]
[30, 10, 50, 40]
[2, 5, 30, 40]

## Is it possible to remember all the methods of list?  It is not easy. Then can we list out all the methods supported in a list? Yes, you can.

In [64]:
dir(list1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [66]:
help(list1.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [67]:
list1.sort()

In [ ]:
list.index

## How to check documentation of any API?

In [68]:
print(list1.insert.__doc__)

Insert object before index.

In [71]:
print(list1.sort.__doc__)
#or
print(help(list1.sort))

Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

None

## List Comprehension

In [72]:
## Without List Comprehension

a=[1,2,3,4]

b=[]

for val in a:
    b.append(val**2)

print(b)

[1, 4, 9, 16]

In [25]:
## List Comprehension

a=[1,2,3,4]
b=[i**2 for i in a]
print(b)

[1, 4, 9, 16]

In [26]:
c=[i**2 for i in a if i<3]
print(c)

[1, 4]

In [73]:
#print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

list1=[12,24,35,24,88,120,155]
list2=[list1[i] for i in range(0,len(list1)) if i not in [0,4,5]]
print(list2)

[24, 35, 24, 155]

In [78]:
for val in [1,2,4,7,12,23,56]:
    print( val)

1
2
4
7
12
23
56

In [79]:
list1=[12,24,35,24,88,120,155]

In [81]:
list1.pop(2)

35

In [82]:
list1

[12, 24, 24, 88, 120, 155]

In [83]:
list1.remove(12)

In [84]:
list1

[24, 24, 88, 120, 155]